html { 

  }

body{
 
 margin-top: 1em;
 font-family:'Courier New', Courier, monospace;

 
}
header{
    padding: 30px;
    text-align: center;
    background:radial-gradient(#F7DC6F  50%, #DC6FF7 );
    color: white;
    font-size: 60px;
    text-shadow: 2px 2px black;
    font-weight: bolder;

    
}
.row{

    display: flex;

}
.col{
    flex: 50%
}
.ingred{
   padding: 1em;
}
#nutrition{
    width: 50px;
    height: 50px;
}
.instructions{
    margin-left: 4em;
    margin-right: 4em;
}
footer{
    text-align: center;
    padding: 2em;
    background:radial-gradient(#F7DC6F  50%, #DC6FF7 );
    color: white;
    
}
#recipe_pic{
    margin-top: 4em;
}
.half{
    background-color:whitesmoke;
}
a{
    color: black;
}