html { 

  }

body{
 margin-top: 1em;
 font-family:'Courier New', Courier, monospace;
}
header{
    padding: 30px;
    text-align: center;
    background:radial-gradient(#F7DC6F  50%, #CAF845);
    color: white;
    font-size: 60px;
    text-shadow: 2px 2px black;
    font-weight: bolder;
}
.box{
    width: 45%;
    height: 100%;
}
.row{
    display: flex;

}
.col{
    flex: 50%
}
.ingred{
   padding: 1em;
   margin-left: 4em;
}
#nutrition{
    width: 50px;
    height: 50px;
}
.instructions{
    margin-left: 4em;
    margin-right: 4em;
}
footer{
    text-align: center;
    padding: 2em;
    background:radial-gradient(#F7DC6F  50%, #CAF845 );
    color: white;
    text-shadow: 2px 2px black;
    font-size: large;
}
#recipe_pic{
    margin-top: 4em;
}
.half{
    background-color:whitesmoke;
}
a{
    color: white;
}
#left-side{
    margin-left: 4em;
    font-size: 20px;
    padding: 0;
    font-weight: bolder;
}
.recipe_search_box{
    height:100%;
    background:radial-gradient(#F7DC6F  50%, #CAF845);
    border-style: solid;
    border-color: darkblue;

}
.input-ingreds{
    margin-left: 2em;
    font-size: 12px;
}
.by_ingreds,.by_calories, .by_cuisine, .by_diet{
    padding: 1em;
}
.result-box{
    height:100%;
    background:radial-gradient( #CAF845 50%, #F7DC6F );
    border-style: solid;
    border-color: darkblue;
}