<html>

<head>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="box">
        <div class="row">
            <div class="col">
                <div class="recipe_search_box">
                    <h1>Search For Recipes</h1>

                    <form action="">
                        <div class="by_ingreds">
                            <input type="checkbox" name="ingreds" value="Search by Ingredients">
                            <label for="ingreds">Search by Ingredients</label>
                            <br>
                            <div class="row">
                                <div class="input-ingreds">
                                    <input type="checkbox" value="chicken">
                                    <label for="">Chicken</label>

                                    <input type="checkbox" value="pork">
                                    <label for="">Pork</label>

                                    <input type="checkbox" value="beef">
                                    <label for="">Beef</label>

                                    <input type="checkbox" value="fish">
                                    <label for="">Fish</label>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="input-ingreds">
                                    <input type="checkbox" value="lettuce">
                                    <label for="">Lettuce</label>

                                    <input type="checkbox" value="Rice">
                                    <label for="">Rice</label>

                                    <input type="checkbox" value="Apple">
                                    <label for="">Apple</label>

                                    <input type="checkbox" value="Garlic">
                                    <label for="">Garlic</label>

                                </div>

                            </div>
                            <br>
                            <div class="row">
                                <div class="input-ingreds">
                                    <input type="checkbox" value="Egg">
                                    <label for="">Egg</label>

                                    <input type="checkbox" value="Corn">
                                    <label for="">Corn</label>

                                    <input type="checkbox" value="Cheese">
                                    <label for="">Cheese</label>

                                    <input type="checkbox" value="Mushroom">
                                    <label for="">Mushroom</label>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="input-ingreds">
                                    <input type="checkbox" value="butter">
                                    <label for="">Butter</label>

                                    <input type="checkbox" Flour>
                                    <label for="">Flour</label>

                                    <input type="checkbox" value="onion">
                                    <label for="">Onion</label>

                                    <input type="checkbox" value="Orange">
                                    <label for="">Orange</label>
                                </div>
                            </div>
                            <br>
                            <label for="">Enter Ingredient</label>
                            <input type="text">
                            <button>Add</button>

                            <br>
                        </div>
                        <div class="by_calories">
                            <input type="checkbox" name="calories" value="Search by Calories">
                            <label for="calories">Search by Calories</label>
                            <br>
                            <label for="">Enter Calories Amount</label>
                            <input type="text">
                        </div>
                        <div class="by_diet">
                            <input type="checkbox" name="diet" value="Search by Diet">
                            <label for="diet">Search by Diet</label>
                            <br>
                            <select name="" id="" placeholder=" ">
                                <option value="Gluten Free">Gluten Free</option>
                                <option value="Ketogenic">Ketogenic</option>
                                <option value="Vegetarian">Vegetarian</option>
                                <option value="Lacto-Vegetarian">Lacto-Vegetarian</option>
                                <option value="Ovo-Vegetarian">Ovo-Vegetarian</option>
                                <option value="Vegan">Vegan</option>
                                <option value="Pescetarian">Pescetarian</option>
                                <option value="Paleo">Paleo</option>
                                <option value="Primal">Primal</option>
                                <option value="Low FODMAP">Low FODMAP</option>
                                <option value="Whole30">Whole30</option>
                            </select>

                        </div>
                        <div class="by_cuisine">
                            <input type="checkbox" name="cuisine" value="Search by Cuisine">
                            <label for="cuisine">Search by Cuisine</label>
                            <br>
                            <select name="" id="">
                                <option value="African">African</option>
                                <option value="American">American</option>
                                <option value="British">British</option>
                                <option value="Cajun">Cajun</option>
                                <option value="Caribbean">Caribbean</option>
                                <option value="Chinese">Chinese</option>
                                <option value="Eastern European">Eastern European</option>
                                <option value="European">European</option>
                                <option value="French">French</option>
                                <option value="German">German</option>
                                <option value="Greek">Greek</option>
                                <option value="Indian">Indian</option>
                                <option value="Irish">Irish</option>
                                <option value="Italian">Italian</option>
                                <option value="Japanese">Japanese</option>
                                <option value="Jewish">Jewish</option>
                                <option value="Korean">Korean</option>
                                <option value="Latin American">Latin American</option>
                                <option value="Mediterranean">Mediterranean</option>
                                <option value="Mexican">Mexican</option>
                                <option value="Middle Eastern">Middle Eastern</option>
                                <option value="Nordic">Nordic</option>
                                <option value="Southern">Southern</option>
                                <option value="Spanish">Spanish</option>
                                <option value="Thai"></option>
                                <option value="Vietnamese">Vietnamese</option>
                            </select>
                        </div>
                        <input type="submit">
                    </form>
                </div>
            </div>
            <div class="col">
                <div class="result-box">
                    <h1>Results</h1>
                    <div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>