@import url('https://fonts.googleapis.com/css?family=Merriweather:200,300,400,500,600,700,800,900&display=swap');
*
{
	margin: 50;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Merriweather', sans-serif;
}

.About {
  position: relative;
  background-color: #B7CDB3;
}

.About .Container {
  padding-top: 20px;
  text-align: center;
}

.About .Container2 {
  width: 90%;
  text-align: center;
  padding-left: 180px;
  font-size: 27px;
  color: #000000;
}

.About .text {
  background-color: #B7CDB3;
  height: 370px;
}