@import url('https://fonts.googleapis.com/css?family=Merriweather:200,300,400,500,600,700,800,900&display=swap');
*
{
	margin: 50;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Merriweather', sans-serif;
}

.About {
  position: relative;
}

.image{
  position: relative;
  justify-content: center;
}

.Container {
  width: 70%;
  text-align: center;
  padding-left: 450px;
  font-size: 20px;
  color: #000000;
}

.footer {
  position: relative;
  left: 0;
  bottom: 50px;
  width: 100%;
  font-size: 13px;
  color: black;
  text-align: center;
}