@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
	margin: 50;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.Homepage {
	position: relative;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.Container {
	position: absolute;
	top: 0;
  	padding-left: 70px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header .logo {
	position: relative;
	max-width: 80px;
	padding: 30px 100px;
}

.Container ul {
	position: relative;
	display: flex;
	right: 150px;
}

.Container ul li {
	list-style: none;
}

.Container ul li a {
	display: inline-block;
	color: #000000;
	font-weight: 400;
	margin-left: 50px;
	text-decoration: none;
}

.Container2 {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.text {
	position: relative;
	top: 200px;
	max-width: 600px;
	padding-left: 100px;
}

.text h2 {
	color: #4A8140;
	font-size: 4em;
	font-weight: 700;

}

.text p {
	color: #000000;
}

.image2 {
	position: relative;
	top: 200px;
	width: 600px;
	display: flex;
	justify-content: flex-end;
	padding-right: 50px;
}