@import url('https://fonts.googleapis.com/css?family=Merriweather:200,300,400,500,600,700,800,900&display=swap');
*
{
	margin: 50;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Merriweather', sans-serif;
}
.Container {
	position: relative;
}
.Image {
	position: relative;
	display: flex;
}

.Container {
	position: relative;
}

.Image2 {
	position: absolute;
	display: flex;
	right: 38%;
	left: 13%;
}

.footer {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	font-size: 13px;
	color: black;
	text-align: center;
  }
